.hero {
  width: 100vw;
  height: 100vh;

  background-image: url(/images/contact-img.jpg) !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-form {
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    padding: 2rem;
    background-color: var(--bg-sub);
    border-radius: 1.5625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    .title {
      font-size: 2rem;
    }
    .description {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}

/* form */
form {
  width: 100%;
  .row {
    display: flex;
    flex-direction: column;
  }
}

/* floating label */
.form-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;

  input,
  textarea {
    border-radius: 25px;
    border: solid var(--black) 1px;
    padding: 1rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    width: 100%;
  }

  .floating-label {
    font-size: 1.3rem;
    color: var(--hover);
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 12px;
    transition: all 0.1s ease;
  }

  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label,
  textarea:focus ~ .floating-label,
  textarea:not(:focus):valid ~ .floating-label {
    top: -35px;
    bottom: 0px;
    left: 0px;
    font-size: 1.3rem;
    opacity: 1;
    color: #404040;
    border-radius: 1rem;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.btn-contact {
  display: flex;
  width: 192px;
  height: 68px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  background: var(--involved);
  color: var(--white);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.opening-hours {
  background-color: var(--bg-section);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;

  @media screen and (max-width: 425px) {
    padding: 1rem;
  }

  .icon-col {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;

    @media screen and (max-width: 425px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    img {
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    .col {
      @media screen and (max-width: 425px) {
        max-width: 100px;
        display: flex;
        flex-direction: column;
        /* display: block;
        flex-direction: column;

        /* .icon-text {
          display: flex;
          white-space: nowrap;
        } */
      }
    }
  }
}
