:root {
  --bg-1: #F4DFC8;
  --bg-2: #FAF6F0;
  --bg-3: #BBAB8C;
  --hover: #B4B4B3;
  --white: #ffffff;
  --black: #000000;
  --involved: #0077B6;
  --green: #008000;
  --red: #8b1c20;
}

.Contact img {
  width: 1440px;
  height: 668px;
}

/* form */
.form-con {
  width: 1440px;
  height: 1048px;
  background: var(--bg-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-con-contact {
  width: 936px;
  height: 893px;
  margin: 0 auto;
  padding: 20px 40px;
  background: var(--bg-1);
  border-radius: 25px;
}

form {
  width: 80%;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form-field {
  width: 100%;
  font-size: 20px;
  padding: 7px 4px;
  background: transparent;
  transition: border-color 0.2s;
  width: 100%;
  margin: 0 0 1em 0;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--bg-2);
  resize: none;
  outline: none;
}

input[type="text"],
input[type="email"] {
  height: calc(3em + 2px);
}

.form-field::placeholder {
  color: transparent;
}

.form-field:placeholder-shown~.form-label {
  font-size: 25px;
  cursor: text;
  top: 20px;
  color: var(--hover);
}

.form-label,
.form-field:focus~.form-label {
  position: absolute;
  top: 5px;
  left: 8px;
  display: block;
  transition: 0.2s;
  font-size: 25px;
  color: var(--black);
  background-size: 105% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.form-field:focus~.form-label {
  color: var(--black);
}

.form-field:valid {
  border-color: var(--green);
}

.form-field:focus {
  padding-bottom: 6px;
  border: 1px solid var(--red);
}

.form-field:valid~.form-label {
  color: var(--green);
}

input[type=submit] {
  height: 40px;
  padding: 0 10px;
  background-color: var(--involved);
  border-radius: 15px;
  font-size: 30px;
  color: var(--white);
}

/* open hours */
.cont-open {
  padding: 100px 0px 100px 0px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid var(--bg-2);
}

.con-open-hr {
  display: flex;
  flex-direction: row;
  width: 600px;
  padding: 29px 37px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 21px 95px;
  flex-wrap: wrap;
  background-color: var(--bg-2);
  border-radius: 25px;
}

.con-open {
  color: var(--black);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.con-open-close {
  color: var(--black);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.con-open-img {
  width: 318px;
  height: 477px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.con-open-img img{
  border-radius: 50%;
}

.text {}

@media (max-width:768px) {
  .Contact img {
    width: 768px;
    height: 668px;
  }

  .form-con {
    width: 768px;
    height: 1048px;
  }

  .form-con-contact {
    width: 768px;
    height: 893px;
  }

  .form-field {
    width: 100%;
    font-size: 20px;
    padding: 7px 4px;
    background: transparent;
    transition: border-color 0.2s;
    width: 100%;
    margin: 0 0 1em 0;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: var(--bg-2);
    resize: none;
    outline: none;
  }

  .con-open-hr {
    display: flex;
    flex-direction: row;
    width: 600px;
    padding: 29px 37px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 21px 95px;
    flex-wrap: wrap;
    background-color: var(--bg-2);
    border-radius: 25px;
  }

  .con-open {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .con-open-close {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .con-open-img {
    width: 318px;
    height: 477px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
  }

  .text {}
}