section {
  background-color: var(--bg-main);
  padding: 5rem;
  @media screen and (max-width: 425px) {
    padding: 2rem;
  }
  .wrapper {
    display: flex;
    padding: 4rem 3rem;
    gap: 2rem;
    background: var(--bg-secondary);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 425px) {
      padding: 2rem 1rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media screen and (max-width: 425px) {
      gap: 1rem;
    }
  }

  ul {
    padding: 1rem;
    padding-top: 0;
  }

  .title {
    font-size: 3rem;
    @media screen and (max-width: 425px) {
      font-size: 2rem;
    }
  }
}
