:root{
    --bg-1: #F4DFC8;
    --bg-2: #FAF6F0;
    --bg-3: #BBAB8C;
    --hover: #B4B4B3;
    --white: #ffffff;
    --black: #000000;
    --involved: #0077B6;
  }
  .doc-con{
    width: 1440px;
    height: 668px;
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    margin: 100px;
  }
  .doc-con h1{
    text-align: center;
  }