:root{
    --bg-1: #F4DFC8;
    --bg-2: #FAF6F0;
    --bg-3: #BBAB8C;
    --hover: #B4B4B3;
    --white: #ffffff;
    --black: #000000;
    --involved: #0077B6;
  }
  .doc-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .doc{
    max-width: 1440px;
    height: auto;
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 100px;
  }
  .doc-con-1 h1{
    text-align: center;
  }
  .doc-con-2 h1{
    text-align: center;
  }
 