:root {
  --bg-1: #F4DFC8;
  --bg-2: #FAF6F0;
  --bg-3: #BBAB8C;
  --hover: #B4B4B3;
  --white: #ffffff;
  --black: #000000;
  --involved: #0077B6;
  --dark-green: #89B9AD;
  --pink: #FFC5C5;
}
.center{
  margin: 0 auto;
  text-align: center;
}
.exhibition{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.exhibition_item {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}
.card {
  background-color: #091014;
  border-radius: 40px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card_content {
  padding: 1rem;
  z-index: 1;
  display: block;
}
.card_title {
  font-size: 72px;
  line-height: 72px;
  margin-top: -50px;
  margin-bottom: 24px;
  text-shadow: black 1px 0 15px;
  color: var(--white);
}
.card_text {
  color: #DDDACB;
  font-weight: 200;
  p {
    max-width: 700px;
  }
}
.exhibition-img img {
  width: 1440px;
  height: 798px;
}
.exhibition h1 {
  color: var(--white);
}
.ex-img-1 {
  background-color: var(--bg-2);
  font-weight: 900;
  color: var(--black);
  margin: 0;
  font-size: 20px;
}
.ex-img-1 h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.ex-img-2 {
  background-color: var(--bg-2);
  font-weight: 900;
  color: var(--black);
  margin: 100px 0 0 0;
  font-size: 20px;
}
.ex-img-2 h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.ex-img-3 {
  background-color: var(--bg-2);
  font-weight: 900;
  color: var(--black);
  margin: 100px 0 0 0;
  font-size: 20px;
}
.ex-img-3 h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.ex-img-4 {
  background-color: var(--bg-2);
  font-weight: 900;
  color: var(--black);
  margin: 100px 0 0 0;
  font-size: 20px;
  padding: 100px;
}
.ex-img-4 h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.up-event {
  background-color: var(--bg-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
/* up-con */
.up-con {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.row {
  display: flex;
}
.box-show {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}
.image-show {
  flex: 1;
}
.image-show img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textbox {
  padding: 20px;
}
@media (max-width:768px){
  .exhibition-img img{
    width: 768px;
    height: 668px;
  }
  .ex-img-1{
    margin: 0;
  }
  .ex-img-2{
    margin: 0;
  }
  .ex-img-3{
    margin: 0;
  }
  .ex-img-4{
    margin: 0;
  }
  .up-event{
    flex-direction: column;
  }
  .up-con{
    padding: 0;
  }
  .row{
    flex-direction: column;
  }
  .box-show{
    padding: 0;
  }
  .textbox{
    padding: 0;
  }
}